<div class="jk-carousel">
    <div class="slides-container" layout="{{ctrl.layout}}">
        <div ng-swipe-left="ctrl.navigateRight()" ng-swipe-right="ctrl.navigateLeft()" ng-swipe-up="ctrl.navigateBottom()" 
        ng-swipe-down="ctrl.navigateTop()" ng-repeat="element in ctrl.userElements" id="image-container" class="slide">
            <div style="margin: 0 auto;">
                <div style="position:relative" ng-bind-html="element.innerHTML">
                </div>
            </div>
        </div>        
    </div>
   <md-button class="md-icon-button left-arrow-button" >
      <img id="arrow-left-main" ng-if="ctrl.arrowLeftMain" ng-src="{{ctrl.arrowLeftMain}}" ng-click="ctrl.navigateLeft()"></img>
      <md-icon ng-if="ctrl.arrowLeftMain===undefined || ctrl.arrowLeftMain.length === 0" ng-click="ctrl.navigateLeft()" >chevron_left</md-icon>
   </md-button>
   <md-button class="md-icon-button right-arrow-button" >
      <img id="arrow-right-main" ng-if="ctrl.arrowRightMain" ng-src="{{ctrl.arrowRightMain}}" ng-click="ctrl.navigateRight()"></img>
      <md-icon ng-if="ctrl.arrowRightMain===undefined || ctrl.arrowRightMain.length === 0" ng-click="ctrl.navigateRight()" >chevron_right</md-icon>
   </md-button>
   <!--<md-radio-group  id="radio-navigation"  class="radio-buttons-container"    layout="row"    ng-model="ctrl.radioButtonIndex"    layout-align="center center"    ng-change="ctrl.onRadioButtonClick()" >
      <md-radio-button      ng-repeat="item in ctrl.cloneData"      ng-value="$index"      aria-label="$index" >    </md-radio-button>
   </md-radio-group> -->

    <div ng-if="ctrl.miniDisplay==='right' || ctrl.miniDisplay==='left'" layout="column" id="small-carousel" ng-class="ctrl.miniDisplayClass">
        <md-button class="md-icon-button left-arrow-button">
            <md-icon ng-click="ctrl.navigateLeft()">chevron_left</md-icon>
        </md-button>
        <ul id="small-carousel-images">
            <li id="imgScroll" style="vertical-align: middle" ng-repeat="slideItem in ctrl.getMiniSliderIndexRange()">
                <div  ng-click="ctrl.goToSlide(slideItem)" style="position: relative" ng-bind-html="ctrl.getUserElementStringByIndex(slideItem)"></div>
            </li>
        </ul>
        <md-button class="md-icon-button right-arrow-button">
            <md-icon ng-click="ctrl.navigateRight()">chevron_right</md-icon>
        </md-button>
    </div>
    <!--Bottom-->
    <div ng-if="ctrl.miniDisplay==='bottom' || ctrl.miniDisplay==='top'" layout="row" id="small-carousel" 
    ng-class="ctrl.miniDisplayClass">
        <md-button class="md-icon-button left-arrow-button">
            <md-icon ng-click="ctrl.navigateLeft()">chevron_left</md-icon>
        </md-button>
        <ul id="small-carousel-images">
            <li id="imgScroll" style="vertical-align: middle" ng-repeat="slideItem in ctrl.getMiniSliderIndexRange()">
                <div  ng-click="ctrl.goToSlide(slideItem-1)" style="position: relative" ng-bind-html="ctrl.getUserElementStringByIndex(slideItem)"></div>
            </li>
        </ul>
        <md-button class="md-icon-button right-arrow-button">
            <md-icon ng-click="ctrl.navigateRight()">chevron_right</md-icon>
        </md-button>
    </div>

    <md-button id="full-screen-button" class="md-icon-button full-screen-button">
        <md-icon ng-click="ctrl.toggleFullScreen()" ng-if="!ctrl.inFullScreen">fullscreen</md-icon>
        <md-icon ng-click="ctrl.toggleFullScreen()" ng-if="ctrl.inFullScreen">fullscreen_exit</md-icon>
    </md-button>

</div>
