<div class="jk-carousel">
    <div class="slides-container" layout="{{ctrl.layout}}">
        <div ng-repeat="slideItem in ctrl.cloneData" id="image-container" class="slide">
            <div style="margin: 0 auto;" ng-include="ctrl.itemTemplateUrl"></div>
        </div>
    </div>
   <md-button class="md-icon-button left-arrow-button" >
      <img id="arrow-left-main" ng-if="ctrl.arrowLeftMain" ng-src="{{ctrl.arrowLeftMain}}" ng-click="ctrl.navigateLeft()"></img>
      <md-icon ng-if="ctrl.arrowLeftMain===undefined || ctrl.arrowLeftMain.length === 0" ng-click="ctrl.navigateLeft()" >chevron_left</md-icon>
   </md-button>
   <md-button class="md-icon-button right-arrow-button" >
      <img id="arrow-right-main" ng-if="ctrl.arrowRightMain" ng-src="{{ctrl.arrowRightMain}}" ng-click="ctrl.navigateRight()"></img>
      <md-icon ng-if="ctrl.arrowRightMain===undefined || ctrl.arrowRightMain.length === 0" ng-click="ctrl.navigateRight()" >chevron_right</md-icon>
   </md-button>
   <!--<md-radio-group  id="radio-navigation"  class="radio-buttons-container"    layout="row"    ng-model="ctrl.radioButtonIndex"    layout-align="center center"    ng-change="ctrl.onRadioButtonClick()" >
      <md-radio-button      ng-repeat="item in ctrl.cloneData"      ng-value="$index"      aria-label="$index" >    </md-radio-button>
   </md-radio-group> -->

    <!--Top-->
    <div ng-if="ctrl.miniDisplay==='top'" layout="row" id="small-carousel" class="mini-display-top">
        <md-button class="md-icon-button left-arrow-button">
            <md-icon ng-click="ctrl.navigateLeft()">chevron_left</md-icon>
        </md-button>
        <ul id="small-carousel-images">
            <li id="imgScroll" ng-repeat="slideItem in ((ctrl.cloneData.length - ctrl.currentIndex + 1) >= 5) ? (((ctrl.currentIndex - 3) < 0) ? (ctrl.cloneData.slice(ctrl.cloneData.length - 3 + ctrl.currentIndex, ctrl.cloneData.length).concat(ctrl.cloneData.slice(0, ctrl.currentIndex + 6))) : ctrl.cloneData.slice(ctrl.currentIndex - 3, ctrl.currentIndex + 6)) : (((ctrl.currentIndex - 3) >= 0) ? (ctrl.cloneData.slice(ctrl.currentIndex - 3, ctrl.cloneData.length).concat(ctrl.cloneData.slice(0, ctrl.currentIndex + 6 - ctrl.cloneData.length))) : (ctrl.cloneData.slice(0, ctrl.cloneData.length)))"><img ng-click="ctrl.goToSlide(($index - 4 + ctrl.currentIndex) % ctrl.cloneData.length)" src="{{slideItem.src}}" /></li>
        </ul>
        <md-button class="md-icon-button right-arrow-button">
            <md-icon ng-click="ctrl.navigateRight()">chevron_right</md-icon>
        </md-button>
    </div>

    <!--Right-->
    <div ng-if="ctrl.miniDisplay==='right'" layout="column" id="small-carousel" class="mini-display-right">
        <md-button class="md-icon-button left-arrow-button">
            <md-icon ng-click="ctrl.navigateLeft()">chevron_left</md-icon>
        </md-button>
        <ul id="small-carousel-images">
            <li id="imgScroll" ng-repeat="slideItem in ((ctrl.cloneData.length - ctrl.currentIndex + 1) >= 5) ? (((ctrl.currentIndex - 3) < 0) ? (ctrl.cloneData.slice(ctrl.cloneData.length - 3 + ctrl.currentIndex, ctrl.cloneData.length).concat(ctrl.cloneData.slice(0, ctrl.currentIndex + 6))) : ctrl.cloneData.slice(ctrl.currentIndex - 3, ctrl.currentIndex + 6)) : (((ctrl.currentIndex - 3) >= 0) ? (ctrl.cloneData.slice(ctrl.currentIndex - 3, ctrl.cloneData.length).concat(ctrl.cloneData.slice(0, ctrl.currentIndex + 6 - ctrl.cloneData.length))) : (ctrl.cloneData.slice(0, ctrl.cloneData.length)))"><img ng-click="ctrl.goToSlide(($index - 4 + ctrl.currentIndex) % ctrl.cloneData.length)" src="{{slideItem.src}}" /></li>
        </ul>
        <md-button class="md-icon-button right-arrow-button">
            <md-icon ng-click="ctrl.navigateRight()">chevron_right</md-icon>
        </md-button>
    </div>
    <!--Bottom-->
    <div ng-if="ctrl.miniDisplay==='bottom'" layout="row" id="small-carousel" class="mini-display-bottom">
        <md-button class="md-icon-button left-arrow-button">
            <md-icon ng-click="ctrl.navigateLeft()">chevron_left</md-icon>
        </md-button>
        <ul id="small-carousel-images">
            <li id="imgScroll" ng-repeat="slideItem in ((ctrl.cloneData.length - ctrl.currentIndex + 1) >= 5) ? (((ctrl.currentIndex - 3) < 0) ? (ctrl.cloneData.slice(ctrl.cloneData.length - 3 + ctrl.currentIndex, ctrl.cloneData.length).concat(ctrl.cloneData.slice(0, ctrl.currentIndex + 6))) : ctrl.cloneData.slice(ctrl.currentIndex - 3, ctrl.currentIndex + 6)) : (((ctrl.currentIndex - 3) >= 0) ? (ctrl.cloneData.slice(ctrl.currentIndex - 3, ctrl.cloneData.length).concat(ctrl.cloneData.slice(0, ctrl.currentIndex + 6 - ctrl.cloneData.length))) : (ctrl.cloneData.slice(0, ctrl.cloneData.length)))"><img ng-click="ctrl.goToSlide(($index - 4 + ctrl.currentIndex) % ctrl.cloneData.length)" src="{{slideItem.src}}" /></li>
        </ul>
        <md-button class="md-icon-button right-arrow-button">
            <md-icon ng-click="ctrl.navigateRight()">chevron_right</md-icon>
        </md-button>
    </div>
    <!--Left-->
    <div ng-if="ctrl.miniDisplay==='left'" layout="column" id="small-carousel" class="mini-display-left">
        <md-button class="md-icon-button left-arrow-button">
            <md-icon ng-click="ctrl.navigateLeft()">chevron_left</md-icon>
        </md-button>
        <ul id="small-carousel-images">
            <li id="imgScroll" ng-repeat="slideItem in ((ctrl.cloneData.length - ctrl.currentIndex + 1) >= 5) ? (((ctrl.currentIndex - 3) < 0) ? (ctrl.cloneData.slice(ctrl.cloneData.length - 3 + ctrl.currentIndex, ctrl.cloneData.length).concat(ctrl.cloneData.slice(0, ctrl.currentIndex + 6))) : ctrl.cloneData.slice(ctrl.currentIndex - 3, ctrl.currentIndex + 6)) : (((ctrl.currentIndex - 3) >= 0) ? (ctrl.cloneData.slice(ctrl.currentIndex - 3, ctrl.cloneData.length).concat(ctrl.cloneData.slice(0, ctrl.currentIndex + 6 - ctrl.cloneData.length))) : (ctrl.cloneData.slice(0, ctrl.cloneData.length)))"><img ng-click="ctrl.goToSlide(($index - 4 + ctrl.currentIndex) % ctrl.cloneData.length)" src="{{slideItem.src}}" /></li>
        </ul>
        <md-button class="md-icon-button right-arrow-button">
            <md-icon ng-click="ctrl.navigateRight()">chevron_right</md-icon>
        </md-button>
    </div>

    <md-button id="full-screen-button" class="md-icon-button full-screen-button">
        <md-icon ng-click="ctrl.toggleFullScreen()" ng-if="!ctrl.inFullScreen">fullscreen</md-icon>
        <md-icon ng-click="ctrl.toggleFullScreen()" ng-if="ctrl.inFullScreen">fullscreen_exit</md-icon>
    </md-button>

</div>
